header {
  background-color: #fff;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 24px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 4rem !important;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}


header img {
  width: 140px;
}
header a {
  margin-left: 30px;
  font-weight: 500;
  padding: 5px;
}

nav,.active {
  color: #216eb9 !important;
}
.profile-icon-details {
  cursor: pointer;
}

.about-user {
  border: 3px solid grey;
  width: auto;
  height: 10rem;
  position: fixed;
  top: 5.6rem;
  right: 1rem;
  z-index: 999;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -4px 3px
}

.about-user p {
  padding: 10px;
}

header h4 {
  font-weight: 500;
  margin: -7px 10px 16px 5px;
}
header .toggle {  
  display: none;
}
.log-sign {
  border: 4px solid #216eb9;
  padding: 10px;
  border-radius: 45px;
}
.profile-icon {
  border: 4px solid #cc7a10;
  padding: 10px;
  margin: auto;
  font-size: 1rem;
  margin-left: 1rem;
  border-radius: 45px;
}

.dropdown {
  gap: 32px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 8rem;
  position: absolute;
  top: 60px;
  left: 17%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 11rem;
  font-size: 84%;
}


.dropdown li {
  padding: 10px;
  list-style: none;
}

.dropdown li a {
  text-decoration: none;
  color: black;
}

.dropdown li a:hover {
  color: #007bff;
}

.logo {
  position: relative;
}
.top-header {
  justify-content: space-around;
  align-items: center;
}



