@media (max-width: 578px) {
  .grid3 {
    display: flex;
    flex-wrap: wrap;
  }

  .recentdummy {
    height: 27rem;
    width: 21rem;
  }

  .head-btn {
    display: none;
  }

  .awards h1 {
    font-size: 20px !important;
  }

  .footerContact h1 {
    font-size: medium !important;
  }

  .footerContact button {
    margin-top: 9px;
    font-size: 15px;
  }

  .blog-out {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }

  .scroll-toggle-btn {
    display: none !important;
  }

  .trends-header {
    height: 10rem !important;
    display: flex; 
  }

  .dynamic-graph{
   font-size: smaller !important;
  }

}

@media screen and (max-width: 480px) {
  header img {
    width: 8.8rem !important;
  }
  header .small {
    font-size: small !important;
  }

  .footerContact .container {
    height: 115px !important;
  }
  .send {
    justify-content: center;
  }
  .blog-out {
    grid-template-columns: 1fr !important;
  }
  .log-sign {
    bottom: -8px !important;
  }

  .chatbot-toogle-btn,
  .scroll-to-top {
    position: fixed;
    right: 1.2rem !important;
  }

  .scroll-to-top {
    width: 3rem !important;
    height: 3rem !important;
  }
  .chatbot-toogle-btn {
    width: 2rem !important;
    height: 2rem !important;
    bottom: 2rem !important;
    right: 1.5rem !important;
  }
  .chatbot-window {
    max-width: 20rem;
  }
  .location {
    display: none;
  }

  .trends-header {
    display: flex;
    padding: 1rem !important;
    align-content: center;
  }
}
