@media (max-width: 678px) {
  .grid3 {
    display: flex;
    flex-wrap: wrap;
  }

  .recentdummy {
    height: 27rem;
    width: 21rem;
  }

  .head-btn {
    display: none;
  }

  .awards h1 {
    font-size: 20px !important;
  }

  .footerContact h1 {
    font-size: medium !important;
  }

  .footerContact button {
    margin-top: 9px;
    font-size: 15px;
  }

  .blog-out {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }

  .scroll-toggle-btn {
    display: none !important;
  }

  .trends-header {
    height: 10rem !important;
    display: flex;
  }

  .dynamic-graph {
    font-size: smaller !important;
  }

  .chatbot {
    height: 80vh !important;
    width: 65vw !important;
  }

  .filter-form-container {
    display: flex !important;
    flex-direction: column !important;
  }

  .opportunity-card-container {
    padding: 0.5rem !important;
  }

  .logo img {
    width: 5rem !important;
  }

  .hero {
    height: 120vh;
  }

  .faq{
    height: 100% !important;
  }

  .faq h3 {
    font-size: 1rem !important;
  }

}

@media screen and (max-width: 480px) {
  header img {
    width: 8.8rem !important;
  }
  header .small {
    font-size: small !important;
  }

  .footerContact .container {
    height: 115px !important;
  }
  .send {
    justify-content: center;
  }
  .blog-out {
    grid-template-columns: 1fr !important;
  }
  .log-sign {
    bottom: -8px !important;
  }

  .chatbot-toogle-btn,
  .scroll-to-top {
    position: fixed;
    right: 1.2rem !important;
  }

  .scroll-to-top {
    width: 3rem !important;
    height: 3rem !important;
  }
  .chatbot-toogle-btn {
    width: 2rem !important;
    height: 2rem !important;
    bottom: 2rem !important;
    right: 1.5rem !important;
  }
  .chatbot-window {
    max-width: 20rem;
  }
  .location {
    display: none;
  }

  .trends-header {
    display: flex;
    padding: 1rem !important;
    align-content: center;
  }
  .chatbot {
    height: 75vh !important;
    width: 75vw !important;
  }

  footer .container {
    display: flex !important;
    flex-direction: column;
    font-size: 1rem !important;
  }

  .left-notification-plane {
    width: 100% !important;
    height: 100vh !important;
  }

  .right-notification-plane {
    width: 100% !important;
  }
}
