.recentdummy {
  height: 26rem;
  padding: 23px;
}

.shadow {
  padding: 15px;
}

.recentdummy p{
    margin: 0.5rem 0 1.5rem;
}

.recentdummy {
  background-color: white;
  height: 99%;
  margin-bottom: 33px ;
}

.awards {
  margin-top: 53px;
}