.blog-out {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 20px; /* Space between the grid items */
        padding: 20px;
      }
      
      .blog-post {
        border: 3px solid #ddd;
        padding: 18px;
        box-sizing: border-box;
        background-color: #f9f9f9;
        border-radius: 5px;
      }
      
      .blog-post h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      
      .blog-post img {
        width: 100%;
        height: auto;
        margin: 10px 0;
      }
      
      .blog-content {
        overflow: hidden;
        max-height: 10rem;
        margin-top: 6px;
      }
      
      @media (max-width: 768px) {
        .blog-out {
          grid-template-columns: 1fr; /* Single column layout on smaller screens */
        }
      }
