.about {
  margin-bottom: 80px;
}
.about .heading {
  text-align: left;
  width: 100%;
}
.about main {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}

.right-row img{
  border-radius: 90px
}

.right-row {
  margin-top: 10px;
}


